<<<<<<< HEAD
//@use "sass:color";
$color1: red;
$color2: blue;

$mixColor:mix($color1, $color2, 50%);
.content {
  background-color: $mixColor;

=======
@use "sass:color";

$main-color: #01f1e2;
$secondary-color: red;

.content {
  background-color: color.mix($main-color, $secondary-color, $weight:50%);
>>>>>>> repetition
}