@use "sass:map";
<<<<<<< HEAD
$map: (
  min-width: 200px,
  max-width: 1000px
);
$widths: map.values($map);

.main-width {
  width: nth($widths,1);
=======
@use "sass:list";
$map: (
        min-width: 200px,
        max-width: 1000px
);
$width: map.values($map);
.menu {
  width: list.nth($width, 1);
>>>>>>> repetition
}