

@for $i from 1 through 10 {
  .block_#{$i} {
    height: 10px;
    @if($i % 2 == 0) {
      border: 1px solid orange;
      margin: 10px;
  } @else {
      border:1px solid blue;
  }

  }
}
@for $i from 1 through 10 {


  .block-#{$i} {
    @if ($i % 2 == 0) {
      border: 1px solid orange;
      margin: 10px;
      height: 100px;
      width: 100px;
    } @else {
      border: 2px dashed blueviolet;
      height: 100px;
      width: 100px;
    }
  }
}

