@use "sass:math";

<<<<<<< HEAD
$number: 0.75;


$percentage: percentage($number);
p {
  font-size: math.percentage($number);
}
=======
$number: 9;

p {
  font-size: math.percentage($number);
}
>>>>>>> repetition
