<<<<<<< HEAD
@mixin drawItem ($shape, $color) {
  background-color: $color;
  @if $shape == circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;

  } @else if $shape == rectangle {
    height: 200px;
    width: 200px;
  }
}

.draw-container {
  //@include drawItem(circle, red);
  @include drawItem(rectangle, green);

}
=======
@mixin drawItem($shape, $background) {
  @if $shape == circle {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $background;
  } @else if $shape == rectangle {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background: $background;
  }
}
.draw-container {
  @include drawItem(circle, red)
}

>>>>>>> repetition
