@use "sass:list";
@use "sass:map";


$colors: #f1c #1a4 #acdeb4;
$map: (
        width1: 400px,
        width2: 600px,
        width3: 1000px
);

.main-width {
  background-color: list.nth($colors, 3);
  width: map.get($map, width1);
}
body {
  background-color: list.nth($colors, 1);
  width: map.get($map, width3);
}
header {
  background-color: list.nth($colors, 2);
  width: map.get($map, width2);
}

