.one-image-bg {
  max-width: 900px;
height: 50vh;
  border: 5px solid pink;
  background-image: url("../images/rabbit.png");
  background-repeat: no-repeat;
  //background-size: contain;
  background-size: 50%;
}