$columns: 12;
$baseCol: 100% / $columns;

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 1em;
  .row {
    display: flex;

    [class*="col-"] {
      min-height: 1px;
      width: $baseCol;
      flex-wrap: wrap;
      padding: 1em; // gutters

    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $baseCol * $i;
      }
    }

    @media (max-width: 550px) {
      [class*='col-'] {
        width: 100%;
      }
    }
  }
}

